* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #000;
    --soft-black: rgba(37, 48, 55, 0.91);
    --grey: #413a3ff1;
    --white: #FFFFFF;
}

html,
body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    height: -webkit-fill-available;
    box-sizing: border-box;
}

/* Font Poppins */

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* Header */

header>nav {
    padding: 1.5rem 2rem !important;
    /* Necessário para sobrescrever o padding padrão do Bootstrap */
}

header>nav>div>h1.navbar-brand {
    text-align: center !important;
}

/* Main */

main>section.start-section {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 3rem;
}

h1,
h2 {
    font-weight: 600;
    text-align: justify !important;
    margin-bottom: 2rem;
}

section.start-section div.start-text-container .paragraph {
    line-height: 150%;
    text-align: justify !important;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* SECOND SECTION */

section.second-section {
    padding: 3rem 4rem;
}

section.second-section h2.title {
    padding: 1rem 0;
    margin-bottom: 0.2rem;
    text-align: center !important;
    color: var(--black);
}

section.second-section div.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.second-section div.cards-container .item {
    margin: 1rem;
    cursor: pointer;
    transition: transform .5s linear;

    border-bottom: 2px solid var(--black);
    border-radius: 0.1rem;
}

section.second-section div.cards-container .item:hover {
    transform: scale(1.02);
}

section.second-section div.cards-container .item>img {
    height: 200px;
    width: 250px;
    border-radius: 0.1rem;
}

section.second-section div.cards-container .item>p {
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

/* THIRD SECTION */

main>section.third-section {
    padding: 4rem 5rem;
    text-align: center;
}

main>section.third-section>img.third-section-image {
    margin: 4rem auto;
}

main>section.third-section .paragraph {
    max-width: 59.375rem;
    text-align: justify;
    margin: 0 auto;
}

/* FORTH SECTION */

main>section.forth-section {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 4rem 5rem;
}

section.forth-section>div.faq-container .faq-title {
    margin-bottom: 1rem;
}

section.forth-section>div.faq-container>div.faq-item>div.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.forth-section>div.faq-container>div.faq-item>div.faq-question>h3 {
    font-size: 110%;
}

section.forth-section>div.faq-container>div.faq-item>div.faq-question {
    border: 2px solid var(--soft-black);
    border-radius: 0.5rem;
    padding: 1.25rem;
    cursor: pointer;
}

.faq-item .faq-answer {
    border-right: 1px solid var(--soft-black);
    border-bottom: 1px solid var(--soft-black);
    border-left: 1px solid var(--soft-black);
    border-radius: 0 0 0.5rem 0.5rem;
    margin-top: -0.5rem;
    padding: 0 1.5rem;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s ease-out;
}

.faq-item.active .faq-answer {
    height: fit-content;
    opacity: 1;
    padding: 1.5rem;
}

/* Footer */

footer {
    background-color: var(--grey);
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
    padding: 4rem 4rem;
}

footer>div.footer-slogan>.footer-logo {
    color: var(--white);
}

footer .strong-title {
    display: block;
    color: var(--white);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

footer nav a {
    color: var(--white);
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
}

footer>div.hide>nav>ul.footer-list-items {
    list-style: none;
    padding: 0;
}

footer>div.hide>nav>ul.footer-list-items>li {
    margin: 0.6rem 0;
}

footer p {
    color: var(--white);
    margin-bottom: 1rem;
    max-width: 21.875rem;
}

footer p a {
    color: var(--white);
    text-decoration: none;
}

footer>div.footer-contact p>a.footer-link:hover {
    text-decoration: underline;
}