@media (max-width: 1310px) {
    main>section.forth-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        padding: 0rem;
    }
}

@media (max-width: 1140px) {
    footer>div.hide {
        display: none;
    }
}

@media (max-width: 1060px) {
    .start-section {
        display: flex;
        flex-direction: column;
    }

    .btn-div {
        text-align: center;
    }

    .btn-div>a {
        margin: 0 1rem;
    }

    .start-image {
        width: 90vw;
        height: 450px;
    }

    .paragraph {
        line-height: 175%;
        font-size: 20px;
    }

    .second-section-text-container {
        flex-direction: column;
        gap: 0;
    }

    li {
        font-size: 18px;
    }

    .second-section-image {
        width: 90vw;
        height: 380px;
    }

    main>section#duvidas {
        gap: 2rem;
        padding: 0.5rem 5rem;
    }

    .forth-section-image {
        width: 90vw;
        height: 380px;
    }
}

@media (max-width: 950px) {
    .footer-logo {
        font-size: 30px;
    }
}

@media (max-width: 850px) {
    footer {
        gap: 2rem;
    }
}

@media (max-width: 800px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 4rem;
    }

    .footer-slogan,
    .footer-logo {
        text-align: center !important;
    }

    footer p {
        max-width: 100%;
    }
}

@media (max-width: 700px) {
    .paragraph {
        line-height: 150%;
        font-size: 18px;
    }

    main>section#farmacia {
        padding: 1rem 2rem;
    }
}

@media (max-width: 662px) {
    .third-section-image {
        width: 80vw;
        height: 380px;
    }
}

@media (max-width: 575px) {
    main>section#farmacia>img {
        margin: 0.2rem 0;
    }
}

@media (max-width: 500px) {
    nav {
        padding: 0.8rem 2rem !important;
    }

    #start {
        padding: 0;
        margin-top: -1rem;
    }

    .second-section {
        padding: 0;
    }

    .second-section-title {
        padding: 0 1rem;
    }

    .start-image {
        width: 80vw;
        height: 400px;
    }

    .second-section {
        padding: 1rem 0;
    }

    li {
        text-align: justify !important;
    }

    .second-section-image {
        width: 80vw;
        height: 380px;
    }

    main>section#duvidas {
        padding: 0.5rem 2rem;
    }

    .forth-section-image {
        width: 80vw;
        height: 380px;
    }

    .pergunta h3 {
        font-size: 100%;
    }

    .duvida .pergunta {
        padding: 0.5rem;
    }
}

@media (max-width: 450px) {

    .btn-div {
        display: flex;
        flex-direction: column;
    }

    .btn-div>a {
        margin: 0.4rem 0;
    }

    footer {
        padding: 2rem;
    }

    .footer-slogan,
    .footer-logo {
        text-align: left !important;
    }

    .footer-logo {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    strong.titulo {
        font-size: 1rem;
    }

    footer p {
        font-size: 0.875rem;
    }
}

@media (max-width: 383px) {

    main>section#start {
        padding: 1rem 1rem;
    }

    .start-image {
        margin: -1rem 0;
    }

    .start-text-container {
        display: flex;
        flex-direction: column;
    }

    .btn-div {
        display: flex;
        flex-direction: column;
    }

    .btn-div>a {
        margin: 0.4rem 0;
    }

    main>section .second-section-text-container {
        padding: 1rem 0.6rem;
    }

    main>section#farmacia {
        padding: 0 1rem;
    }

    main>section#farmacia>img {
        width: 90vw;
        height: 300px;
    }

}

@media (max-width: 325px) {
    footer {
        padding: 2rem 1rem;
    }
}