@media (max-width: 1060px) {
    .start-section {
        display: flex;
        flex-direction: column;
    }

    .start-image {
        width: 90vw;
        height: 450px;
    }

    .paragraph {
        line-height: 175%;
        font-size: 20px;
    }

}

@media (max-width: 700px) {
    .paragraph {
        line-height: 150%;
        font-size: 16px;
    }
}

@media (max-width: 500px) {

    nav {
        padding: 0.8rem 2rem !important;
    }

    #inicio {
        padding: 0;
        margin-top: -1rem;
    }

    .start-image {
        width: 80vw;
        height: 400px;
    }
}

@media (max-width: 383px) {
    .start-image {
        margin: -1rem 0;
    }

    .start-text-container {
        display: flex;
        flex-direction: column;
    }

    .start-text-container > a {
        margin: 0.4rem 0;
    }
}
