@media (max-width: 1060px) {
    section.start-section {
        display: flex;
        flex-direction: column;
    }

    section.start-section div.start-text-container .btn-div {
        text-align: center;
    }

    section.start-section div.start-text-container .btn-div>a {
        margin: 0 1rem;
    }

    section.start-section img.start-image {
        width: 90vw;
        height: 450px;
    }

    section.start-section div.start-text-container .paragraph {
        line-height: 175%;
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    section.start-section div.start-text-container .paragraph {
        line-height: 150%;
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    section.start-section {
        padding: 0;
        margin-top: -1rem;
    }

    section.start-section img.start-image {
        width: 80vw;
        height: 400px;
    }
}

@media (max-width: 450px) {
    section.start-section div.start-text-container .btn-div {
        display: flex;
        flex-direction: column;
    }

    section.start-section div.start-text-container .btn-div>a {
        margin: 0.4rem 0;
    }
}

@media (max-width: 383px) {

    section.start-section {
        padding: 1rem 1rem;
    }

    section.start-section img.start-image {
        margin: -1rem 0;
    }

    section.start-section div.start-text-container {
        display: flex;
        flex-direction: column;
    }

    section.start-section div.start-text-container .btn-div {
        display: flex;
        flex-direction: column;
    }

    section.start-section div.start-text-container .btn-div>a {
        margin: 0.4rem 0;
    }
}