@media (max-width: 1310px) {
    main>section.forth-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        padding: 0rem;
    }
}

@media (max-width: 1060px) {
    main>section#duvidas {
        gap: 2rem;
        padding: 0.5rem 5rem;
    }

    .forth-section-image {
        width: 90vw;
        height: 380px;
    }
}

@media (max-width: 500px) {
    main>section#duvidas {
        padding: 0.5rem 2rem;
    }

    .forth-section-image {
        width: 80vw;
        height: 380px;
    }

    .pergunta h3 {
        font-size: 100%;
    }

    .duvida .pergunta {
        padding: 0.5rem;
    }
}